<div style="text-align: center">
<form action="/login" method="POST">
    <label>username: </label>
        <input type="text" name="username"/>
        <br>
        <br>
    <label>password: </label>
        <input type="password" name="password"/>
        <br>
        <br>
        <input type="submit"/>

        <br>
        <br>    
</form>

    <p>Don't Have an account? Click the button below to signup!</p>

<form action="/signup" method="GET">
    <input type="submit" value="sign-up"/>
</form>
</div>