<h2 style="text-align: center;">Welcome to the application!</h2>

<div style="text-align: center;">

    <form action="/signup" method="GET">
        <input type="submit" value="signup" />
    </form>

    <br>

    <form action="/login" method="GET">
        <input type="submit" value="login" />
    </form>

    <br>

</div>

